
<section>
    <div class="container">
        <div class="flex-md-row">
            <div class="d-flex p-2 bd-highlight justify-content-center"><h1 class="p-2">The Game!</h1></div>
            <div class=" d-flex p-2 justify-content-center board">
                <table border>
                    {% for row in grid %}
                        <tr>
                            {% for cell in row %}
                                <td width="50px" height="50px" class="{{ cell }}"><center>&nbsp; {{ cell }}&nbsp; </center></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</section>

