

<section>
    <div class="container">
        <div class="flex-md-row controls ">
            <div class=" d-flex p-2 justify-content-center board">
                <table>
                    <tr>
                        <td class="display-4"><a href="{{ path('play', {'row': 1, 'col': 1}) }}">*</a></td>
                        <td class="display-4"><a href="{{ path('play', {'row': 1, 'col': 2}) }}">*</a></td>
                        <td class="display-4"><a href="{{ path('play', {'row': 1, 'col': 3}) }}">*</a></td>
                    </tr>
                    <tr>
                        <td class="display-4"><a href="{{ path('play', {'row': 2, 'col': 1}) }}">*</a></td>
                        <td class="display-4"><a href="{{ path('play', {'row': 2, 'col': 2}) }}">*</a></td>
                        <td class="display-4"> <a href="{{ path('play', {'row': 2, 'col': 3}) }}">*</a></td>
                    </tr>
                    <tr>
                        <td class="display-4"><a href="{{ path('play', {'row': 3, 'col': 1}) }}">*</a></td>
                        <td class="display-4"><a href="{{ path('play', {'row': 3, 'col': 2}) }}">*</a></td>
                        <td class="display-4"><a href="{{ path('play', {'row': 3, 'col': 3}) }}">*</a></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</section>