

<div class="flex-md-row controls ">
    <div class=" d-flex p-2 justify-content-center board">
        <div class="currentPlayer display-4">
            it is now {{ currentPlayer }}'s move
        </div>
    </div>
</div>