{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    {% include 'AppBundle:Board:board.html.twig' with grid %}

    <section>
        <div class="container">
            <div class="flex-md-row controls ">
                <div class=" d-flex p-2 justify-content-center board">
                    <span id="test" class="d-flex p-2 text-primary display-4"  >{{ message }}</span>
                </div>
                <div>
                    <h2 class=" d-flex p-2 justify-content-center board">
                        <a href="{{ path('start') }}">start</a>
                    </h2>
                </div>
            </div>

        </div>
    </section>

{% endblock body %}
