{% extends 'AppBundle::layout.html.twig' %}
{% block body %}


    <div class="flex-md-row controls ">
        <div class=" d-flex p-2 justify-content-center board">

            <div class="messages">
                {% for msg in messages %}
                    <div class="message text-uppercase font-weight-lighter text-danger">{{ msg }} </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'AppBundle:Board:board.html.twig' with grid %}
    {% include 'AppBundle:Board:currentPlayer.html.twig' with grid %}
    {% include 'AppBundle:Board:controls.html.twig' %}
{% endblock body %}